/*Debug*/
* {
   /* outline: 0.1px solid red;*/
}

.header {
    outline-color: blue;
}

/*Reset*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

/*General*/
body {
    margin: 0;
    line-height: 1.8;
    font-size: 20px;
    background: #eeeff0;
    font-family: "Roboto", Arial, sans-serif;
}

.wrapper {
    background-color: white;
    width: 1300px;
    margin: 0 auto;
    padding: 70px 80px 0;
}

.navigation {
    font-family: "Roboto Slab", serif;
}

.navigation a {
    color: #000;
    margin: 0 25px;
}

.navigation a:hover {
    opacity: .6;
}

.navigation a.active {
    border-bottom: 2px solid #1ec49e;
    padding-bottom: 5px;
}

.social-media i {
    margin: 0 7px;
}

.social-media i:hover {
    color: #1ec49e;
    border-bottom: 2px solid #1ec49e;
    padding-bottom: 2px;
}

.content h2 {
    width: 50%; 
    font-weight: 300;   
    margin: 0 auto;
}

.image-outer {
    padding: 10px;
}

.image {
    background-size: cover;
    padding: 20px;
    cursor: pointer;
}

.image:hover .image-inner {
    opacity: 1;
}

.image-inner {
    padding: 250px 0;
    text-align: center;
    background: #ffffffcf;
    opacity: 0;
}

.image-inner h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
}

.image-inner div {
    font-size: 12px;
}

.footer {
    border-top: 2px solid rgb(0, 0, 0);
}

/*Utility*/
.section-delimeter {
    margin-bottom: 80px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.fade-out {
    transition: all .3s;
}

.links-color {
    color: #1ec49e;
}

.pointer {
    cursor: pointer;
}